@charset "ISO-8859-1";
body{
    background-color:#6EAFC9ff; 
    /*backdrop-filter: blur(5px);*/
    height: 100uv;
    max-width: 800px;
    margin: auto;
    position: relative;
    font-family: Roboto, Courier, monospace;
    color:#0064ACff;
    justify-content: center;
    align-items: center;
    padding-left: 100px;
    padding-top: 50px;
    padding-bottom: 100px;
}
td{
    padding-right: 10px;
    padding-top: 10px;
}

.form{
    width: fit-content;
	background-color: white;
	display: flex;
  	justify-content: center;
  	align-items: center;
    padding: 50px;
    box-shadow:#0064ACff;
    box-shadow: 10px;
    position: relative;
    border-radius: 10px;
    box-shadow: -2px 2px 5px 2px #0064ACff;

}

.submit{
    background-color: #0064ACff;
    color:white;
    padding: 5px;
    border-color: #0064ACff;
}
