
body{
  background-color: #6EAFC9;
  margin: 0%;
  padding: 0%;
  padding-top: 60px;
  font-family: Roboto, Courier, monospace;
}


/*form css*/
body .form{
  display: flex;
  justify-content:center;
  flex-direction: columns;
  align-items: center;
}
form {
    margin: auto; 
    margin-top: 2%;
    margin-bottom :2%;
    background-color: #fff;
    padding: 20px 40px;
    border-radius: 10px;
    width: 30%;
    position:flex;
}
form .inputs {
  display: flex;
  flex-direction: column;
}
form .inputs input[type='number'], input[type='text'], input[type='date']{
  padding: 12px;
  border-radius: 5px;
  background-color:#F5F8FA;
  outline:none;
  border: none;
}
form p.input_span{
  font-size: 12px; 
  margin-bottom: 5px;
  color: #0064AC;
}
#place-search-input{
    padding: 12px;
    border-radius: 5px;
    background-color:#F5F8FA;
    outline:none;
    border: none;
  }
#place-search-input2{
    padding: 12px;
    border-radius: 5px;
    background-color:#F5F8FA;
    outline:none;
    border: none;
  }

/* A few custom styles for date inputs */
input[type="date"] {
    appearance: none;
    -webkit-appearance: none;
    color: #95a5a6;
    font-family: "Helvetica", arial, sans-serif;
    font-size: 18px;
    border:1px solid #ecf0f1;
    background:#ecf0f1;
    padding:5px;
    display: inline-block !important;
    visibility: visible !important;
}

input[type="date"], focus {
    color: #95a5a6;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}
form button{
  text-align: center;
  padding: 15px 25px;
  border-radius: 5px;
  border:none;
  font-size: 10px;
  color: #fff;
  background-color: #0064AC;
  outline:none;
  cursor:pointer;
  margin-top: 20px;
}
.container, .container2{
  width:500px;
  margin: 5px auto;
  display: flex;
} 
.column{
  margin: 0 3px 5px;
  flex-basis: 33%;
} 
.card{
 padding: 10px 10px;
}
.checkbox{
  display: block;
 }
