
body{
  background-color: #6EAFC9;
  margin: 0%;
  padding: 0%;
  padding-top: 60px;
  font-family: Roboto, Courier, monospace;
}


/*form css*/
body .form{
  display: flex;
  justify-content:center;
  flex-direction: columns;
  align-items: center;
}
form {
    margin: auto; 
    margin-top: 2%;
    margin-bottom :2%;
    background-color: #fff;
    padding: 20px 40px;
    border-radius: 10px;
    width: 30%;
    position:flex;
}
form .inputs {
  display: flex;
  flex-direction: column;
}
form .inputs input[type='number'], input[type='text'], input[type='date']{
  padding: 12px;
  border-radius: 5px;
  background-color:#F5F8FA;
  outline:none;
  border: none;
}
form p.input_span{
  font-size: 12px; 
  margin-bottom: 5px;
  color: #0064AC;
}
#place-search-input{
    padding: 12px;
    border-radius: 5px;
    background-color:#F5F8FA;
    outline:none;
    border: none;
  }
#place-search-input2{
    padding: 12px;
    border-radius: 5px;
    background-color:#F5F8FA;
    outline:none;
    border: none;
  }

/* A few custom styles for date inputs */
input[type="date"] {
    appearance: none;
    -webkit-appearance: none;
    color: #95a5a6;
    font-family: "Helvetica", arial, sans-serif;
    font-size: 18px;
    border:1px solid #ecf0f1;
    background:#ecf0f1;
    padding:5px;
    display: inline-block !important;
    visibility: visible !important;
}

input[type="date"], focus {
    color: #95a5a6;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}
form button{
  text-align: center;
  padding: 15px 25px;
  border-radius: 5px;
  border:none;
  font-size: 10px;
  color: #fff;
  background-color: #0064AC;
  outline:none;
  cursor:pointer;
  margin-top: 20px;
}
.container, .container2{
  width:500px;
  margin: 5px auto;
  display: flex;
} 
.column{
  margin: 0 3px 5px;
  flex-basis: 33%;
} 
.card{
 padding: 10px 10px;
}
.checkbox{
  display: block;
 }
/* Google Font Import - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

.toast{
    position: fixed;
    top: 30px;
    right: 30px;
    border-radius: 10px;
    background: #fff;
    padding: 20px 35px 20px 25px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    border-left: 6px solid #0064AC;
    overflow: hidden;
    transform: translateX(calc(100% + 30px));
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.35);
}

.toast.active{
    transform: translateX(0%);
}

.toast .toast-content{
    display: flex;
    align-items: center;
}

.toast-content .check{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    width: 35px;
    background-color: #0064AC;
    color: #fff;
    font-size: 20px;
    border-radius: 50%;
}

.toast-content .message{
    display: flex;
    flex-direction: column;
    margin: 0 20px;
    color: #0064AC;
}

.message .text-1{
    font-size: 20px;
    font-weight: 400;;
    color:#0064AC;
    opacity: 0,6;
}

.message .text.text-1{
    font-size: 20px;
    font-weight: 400;
    font-weight: 600;
    color: #0064AC;
}

.toast .close{
    position: absolute;
    top: 10px;
    right: 15px;
    padding: 5px;
    cursor: pointer;
    opacity: 0.7;
}

.toast .close:hover{
    opacity: 1;
}

.toast .progress{
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    width: 100%;
    background: #ddd;
}

.toast .progress:before{
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-color: #0064AC;
}

.progress.active:before{
    animation: progress 5s linear forwards;
}

@keyframes progress {
    100%{
        right: 100%;
    }
}