h1{
font-size: 100px;
text-align: center;
height: 80px;
color: aliceblue;
}
.cards {
  height:max-content;
 display: grid;
 grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
 grid-auto-rows: auto;
 grid-gap: 2rem;
 margin:20px;
 }
 .card {
 border-radius: 10px; 
 box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
 padding: 10%;
 background-color: aliceblue;
 height:max-content;
 }
 /* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
 .container{
  margin: auto;
  padding: auto;
  text-align: center;
 }

.image{
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;  
}

body{
    background-color:#6EAFC9;
    margin: 0;
    font-family: Roboto, Courier, monospace;
    color:#0064ACff;
    position: relative;
    
}
