@charset "ISO-8859-1";
body{
    background-color:#6EAFC9ff; 
    /*backdrop-filter: blur(5px);*/
    height: 100uv;
    padding: 0px;
    margin:0px;
    position: relative;
    font-family: Roboto, Courier, monospace;
    color:#0064ACff;
    justify-content: center;
}

.form{
	background-color: white;
	display: flex;
  	justify-content: center;
  	align-items: center;
}